@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Roboto+Slab&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'inter'; 
/*	min-height: 100vh; */
/*	min-width: 100vw; */
	
	scroll-behavior: smooth;
/*	border: 2px solid red;*/
	
}
body
{
	overflow-x: hidden;
}
.roll.nop
{
	overflow: hidden;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
/*	justify-content: space-between; */
	padding: 1rem 2rem; 
	z-index: 1;
	backdrop-filter: blur(5px);
	align-items: center;
	transition: 0.5s;
	justify-content: space-around;
	
  }
  .header.acender
  {
	  background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
	
  }
  .header.acender .menu-items.lightOn li a
  {
	  color: black;
	  text-shadow: 1px 1px 0.1em black;
  }
  .header.acender .menu-items.lightOn li a:hover
  {
	  transition: 1s;
	  color: white;
	  text-shadow: 1px 1px 0.1em white;
  }
  /*
  .header.sticky
  {
	  background-color:white;
	  box-shadow: 0 5px 20px rgba(0,0,0,0.1 )
  }
  .header.sticky .logo
  {
	  color: Black;
  }
  .header.sticky .menu-btn.open .menu-btn__lines
  
  {
	background-color: transparent;
	
  }
  .header.sticky .menu-btn .menu-btn__lines,
  .header.sticky .menu-btn .menu-btn__lines::before,
  .header.sticky .menu-btn .menu-btn__lines::after
  {
	  background-color: black;
  }
  */
  .header a 
  {
	text-decoration: none;
	color: #333;
/*	font-size: 2rem; */
	font-family: 'Anonymous Pro', monospace;
	font-weight: lighter;
	font-size: 2vw;
  }
  .header ul li
  {  
/*	padding-right: 1em; */
	letter-spacing: 0.4em;
/*	margin-left: 1.2em; */
  }/*
  .header.sticky a
  {
	  color: black;
  }*/
  .logo
  {
	/*  font-size: 24px; */
	  font-family: 'inter'; 
	  font-weight: bolder;
	margin-left: 3%;
	text-shadow: 0.1px 0.1px 0.02em black
  }
  
  .menu-items 
  {
	list-style: none;
	display: flex;
/*	align-items: center; */
	/*adicionado pro efeito de luz 
	font-size: 1.3rem; */
	padding: 0.5em 1em;
    color: #fff;
/*	text-align:justify;  */
/*    text-justify:inter-character; */
	width: 72vw;
	justify-content: space-evenly;
	
  }
  
  .menu-items.lightOn li a
  {
	display:flex;
	position:relative;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 120px #fff,
                    0 0 160px #fff;
				
	transform: translateY(0px);
	visibility: visible;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
	margin-right: auto;
	transition: 4s;
	transition-delay: 1.5s;
	
  }

  
  /* retirado para o efeito de luz 
  .menu-items li a {
	font-size: 1.3rem;
	padding: 0.5em 1em;
	transition: 1s;
	
  }
 
  
  .menu-items li a:hover {
	background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
				0 0 500px #03e9f4;
				0 0 1000px #03e9f4;
  }
  */
  /* nav menu button HAMBURGER */
  .menu-btn {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 1;
  }
  .menu-btn__lines,
  .menu-btn__lines::before,
  .menu-btn__lines::after {
	width: 1.5rem;
	height: 0.2rem;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.9);
	transition: all 0.5s ease-in-out;
  }
  .menu-btn__lines::before,
  .menu-btn__lines::after {
	content: "";
	position: absolute;
  }
  .menu-btn__lines::before {
	transform: translateY(-0.5rem);
  }
  .menu-btn__lines::after {
	transform: translateY(0.5rem);
  }
  /* animation */
  .menu-btn.open .menu-btn__lines {
	transform: translateX(2rem);
	background-color: transparent;
	color: black;
  }
  .menu-btn.open .menu-btn__lines::before {
	transform: rotate(45deg) translate(-1.5rem, 1.5rem);
	background-color: black;

  }
  .menu-btn.open .menu-btn__lines::after {
	transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
	background-color: black;
  }
  
  /*MENU ATÉ AQUI*/
section
{
	padding: 10%;
	
}
.banner
{
	position: relative;
	min-height: 100vh;
	background: url(imagens/banner3.jpg);
	background-size: cover;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	animation: 5s cubic-bezier(0.16, 1, 0.3, 1) meEnter;
		
	
}
.banner .text8x
{
	display:flex;
}

.banner .text8x span
{
	font-size: 3vw;
	color: white;
	font-family: 'Anonymous Pro', monospace;
	
	
}
#typed {
    font-size: 3.5vw;
    padding-bottom: 0.5rem;
}

/*FANCY*/


body
{
    background: black;
}
.fancy
{
	visibility: hidden;
    color: white;
    font-size: 4.6vw;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
	
}
.fancy span 
{
	visibility: visible;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: flex; 
}

.fancy span.fade {
    opacity: 10;
    transform: translateY(0px);
	visibility: visible;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s cubic-bezier(.19,1,.19,3.51);
	
	/*
	 -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
	*/
}

.fancy span.fade:hover
{
	-moz-transform: rotate3d(0,1,0,180deg);
    -webkit-transform: rotate3d(0,1,0,180deg);
    -ms-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
	
}

/*Fazendo o color change:*/

.changecolor span
{
	visibility: visible;
    transition: all 1s ease;
    display: flex;
}
.changecolor .fancy
{
	color: black;
	-webkit-transition: 3s;
	transition: 3s;
	text-shadow: 1px 1px 0.1em black;
}
.changecolor .fancy:hover
{
	-webkit-transform: rotateY(180);
	transform: rotateY(180);
}
.changecolor
{
	
	display:flex;
	position:relative;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
				
	transform: translateY(0px);
	visibility: visible;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
	margin-right: auto;
	transition: 1.5s;
	letter-spacing: 0.3em;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: -1rem;
	border-radius: 34px;
}
@keyframes meEnter {
  from {
    transform: translateX(100vh);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/*
para mudar a cor apenas, tirar o opacity, transform e o display do span. E tirar o opacity e transform do span.fade. Colocar apenas o color no span.fade

O HEADER FOI ATÉ AQUI */

/*SECTION SOBRE */
.about
{
	background:white;
}

.heading
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2
{
		font-weight: 600;
		font-size: 4.6vw;
}
.content
{
	display: flex;
	justify-content: space-between;
	font-size: 2vw;
}



.contentcontato
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;

}
.contactInfoBx
	{	
		display:flex;
		flex-direction: row;
		/*margin: 20px 0;*/
		justify-content: space-between;
		
	}

.content .flutuante
{
	
	float: right;
	width: 50%;
	margin-left: 1em;
}
.contentBx h3
{
	font-size: 24px;
	margin-bottom: 10px;
}
.w50
{
	min-width: 50%;
	font-family: 'Roboto Slab', serif;
	
}
.anim
{
	animation: 5s cubic-bezier(0.16, 1, 0.3, 1) anim;
}
@keyframes anim {
  from {
 /*   transform: translateX(-100vh);*/
    opacity: 0;
  }
  to {
 /*   transform: translateX(0); */
    opacity: 1;
  }
}

